:root {
    --star-fill: #f5f5f5;
    --star-border: #20283b;
}
.light {
    --star-fill: #1a1a1a;
    --star-border: #e2e8f0;
}

.login-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    color: var(--text);
    box-sizing: border-box;
    transform: translateY(0);
    transition: 0.6s
}

.login-form-outer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding: 32px 48px;
    align-items: center;
    transition: 0.6s;
}

.isLine {
    width: 420px;
    height: 1px;
    background-color: var(--card);
}

.login-form {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 1s;
}
.login-form-inner-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login-form-inner-container input[type='number']::-webkit-inner-spin-button {
    display: none;
}

.login-inner-container-left {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 1.2s;
}
.isGradient {
    background: var(--background-gradient);
}
.login-inner-container-logo {
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    border: 1px solid var(--star-border);
    background-color: var(--card);
}
.login-inner-container-logo svg path {
    fill: var(--star-fill);
}

.login-inner-container-isElement {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
}