.nav {
  z-index: 1001;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: var(--padding-md);
  background-color: var(--nav);
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  height: var(--nav-height);
  font-size: 1.05rem;
  transition: 0.6s;
}

.isPhoneNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-color: var(--card);
  padding: var(--padding-sm);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
}

.hasMoreElements {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.phoneSvg {
  background-color: transparent;
  fill: var(--text);
}
.nav-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
}
.nav-content-isLink {
  padding: var(--padding-sm);
  background-color: transparent;
  color: var(--text);
  border: none;
  text-decoration: none;
  transition: 0.4s;
}
.nav-content-isLink {
  filter: brightness(120%);
}

.nav-login {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}
.nav-login-isButton {
  padding: var(--padding-sm);
  background-color: transparent;
  color: var(--text);
  padding: 0;
  display: inline-flex;
  align-items: center;
  border: none;
  text-decoration: none;
  transition: 0.4s;
}
.nav-login-isButton:hover {
  color: var(--hover);
  filter: brightness(120%);
}

.avatar-container {
  position: relative;
}

.avatar-hovered-container {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1;
  transition: 0.6s;
}
.avatar-hovered-container button {
  width: clamp(60px, 8vh, 120px);
  padding: var(--padding-sm);
  background-color: var(--card);
  color: var(--text);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: 0.4s;
}
.account-options-not-visible {
  pointer-events: none !important;
  z-index: 0 !important;
  opacity: 0 !important;
}

.animated-logo {
    font-style: italic;
}