:root {
    --bg: #020618;
    --card: #0f172b;
    --accent: #00a6f4;
    --hover: #00bcff;
    --text: #f8fafc;
    --text-button: #f8fafc;
    --border: rgba(255, 255, 255, 0.08);
    --element-hover: rgba(255, 255, 255, 0.05);

    --input: #0f172b;
    --input-border: #314158;

    --nav: rgba(2, 6, 24, 0.4);

    --background-gradient: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);

    --success: #00c950;
    --error: #fb2c36;
    --warning: #efb100;

    --padding-sm: 6px;
    --padding-md: 12px;
    --padding-lg: 18px;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
}

.light {
  --bg: #f8fafc;
  --card: #f1f5f9;
  --accent: #0084d1;
  --hover: #0069a8;
  --text: #020618;
  --text-button: #f8fafc;
  --border: rgba(0, 0, 0, 0.08);
  --element-hover: rgba(0, 0, 0, 0.05);

  --input: #e2e8f0;
  --input-border: #cad5e2;

  --nav: rgba(248, 250, 252, 0.4);

  --background-gradient: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 50%, #cbd5e1 100%);
}

.main-not-loaded {
  transform: translateY(-60px) !important;
}

.content-not-loaded-left {
  transform: translateX(-50px) !important;
}
.content-not-loaded-right {
  transform: translateX(50px) !important;
}
.element-not-loaded-opacity {
  opacity: 0 !important;
}
.nav-not-loaded {
  transform: translateY(-40px) !important;
  opacity: 0 !important;
}
.aside-not-visible {
  width: 0% !important;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html, body {
  height: 100%;
}
#root {
  min-height: 100vh;
  background-color: var(--bg);
}

.app-main {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "nav nav"
  "main main" 
  "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.error-container {
  position: fixed;
  right: 60px;
  bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  width: 220px;
}
.error {
  background-color: var(--error);
  color: #fff;
  cursor: pointer;
  padding: var(--padding-md);
  border: none;
  font-size: 1rem;
  border-radius: var(--radius-md);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.themeButton {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  padding: 0;
  transition: 0.4s;
}
.themeButton:hover {
  filter: brightness(120%);
}

.main {
  display: grid;
  grid-template-areas: 
    "nav nav nav"
    "aside main main"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: var(--padding-md);
  background-color: var(--nav);
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  height: var(--nav-height);
  font-size: 1.05rem;
  transition: 0.6s;
}

.hasMoreElements {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.phoneSvg {
  background-color: transparent;
  fill: var(--text);
}
.nav-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
}
.nav-content-isLink {
  padding: var(--padding-sm);
  background-color: transparent;
  color: var(--text);
  border: none;
  text-decoration: none;
  transition: 0.4s;
}
.nav-content-isLink {
  filter: brightness(120%);
}

.nav-search {
  position: relative;
}
.nav-search span {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  color: var(--text);
  font-size: 0.95rem;
  transition: 0.4s;
}
.search-input {
  outline: none;
  border: none;
  padding: var(--padding-sm);
  background-color: transparent;
  border-bottom: 1px solid var(--input-border);
  color: var(--text);
  width: 100%;
  transition: 0.4s;
}
.search-input:focus {
  border-color: var(--accent);
}
.nav-search:focus-within span  {
  top: 0;
  font-size: 0.6rem;
}
.search-input:not(:placeholder-shown) + span {
  top: 0;
  font-size: 0.6rem;
}

.nav-login {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}
.nav-login-isButton {
  padding: var(--padding-sm);
  background-color: transparent;
  color: var(--text);
  padding: 0;
  display: inline-flex;
  align-items: center;
  border: none;
  text-decoration: none;
  transition: 0.4s;
}
.nav-login-isButton:hover {
  color: var(--hover);
  filter: brightness(120%);
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-sm);
  gap: 30px;
  grid-area: main;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: var(--padding-md);
  width: 100%;
}
.add-contact-form h3 {
  color: var(--text);
  margin: 0;
}

.form-input {
  border: 1px solid var(--input-border);
  border-radius: var(--radius-sm);
  padding: var(--padding-md);
  color: var(--text);
  background-color: var(--input);
  outline: none;
  transition: 0.4s;
  width: 100%;
}
.form-input:focus {
  border-color: var(--accent);
}
.form-input::-webkit-outer-spin-button, .form-input::-webkit-inner-spin-button {
  display: none;
}
.form-button {
  width: 100%;
  background-color: var(--accent);
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  padding: var(--padding-md);
  font-weight: bold;
  color: var(--text-button);
  transition: 0.4s;
}
.form-button:hover {
  background-color: var(--hover);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.PhoneInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.PhoneInputInput {
  border: 1px solid var(--input-border);
  border-radius: var(--radius-sm);
  padding: var(--padding-md);
  color: var(--text);
  background-color: var(--input);
  outline: none;
  transition: 0.4s;
  width: 100%;
}
.PhoneInputInput:focus {
  border-color: var(--accent);
}

.asideWrapper {
  position: relative;
  overflow: visible !important;
  width: clamp(210px, 20vw, 420px);
  transition: 1s;
}
.home-aside {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
  transition: 1s, width 0.8s;
}
.aside-close-button {
  display: none;
  border: none;
  background-color: transparent;
  color: var(--text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  cursor: pointer;
  transition: 1s;
}
.aside-close-button svg {
  animation: svg-open 1s;
  transition: 1s;
}
.aside-button-closed svg {
  animation: svg-closed 1s;
  transform: rotate(180deg);
}
@keyframes svg-open {
  from {transform: rotate(180deg)}
  to {transform: rotate(0)}
}
@keyframes svg-closed {
  from {transform: rotate(0)}
  to {transform: rotate(180deg)}
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--border);
}

.favourites-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: var(--padding-md);
  color: var(--text);
}
.favourite {
  border: none;
  border-radius: var(--radius-md);
  background-color: transparent;
  cursor: pointer;
  color: var(--text);
  padding: var(--padding-md);
  transition: 0.4s;
}
.favourite:hover {
  background-color: var(--element-hover);
}


@media (max-width: 786px) {
  .nav {
    gap: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  .aside-close-button {
    display: block;
  }
} 